.post {
    background: white;
    padding: 10px;
    border: 1px solid white;
    text-align: center;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.post .icon {
    font-size: 50px;
}

.post p {
    color: rgba(0, 0, 0, 0.5);
}