.form {
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.05);
    background: rgba(0, 0, 0, 0.02);
    border: 5px solid white;
    padding: 20px;
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 600;
}

.form label {
    display: block;
    margin-bottom: 1rem;
}

.form input,
textarea {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid black;
}

.form button,
input[type='submit'] {
    width: auto;
    background: black;
    color: white;
    border: 0;
    font-size: 2rem;
    font-weight: 600;
    padding: 0.5rem 1.2rem;
}

.form fieldset {
    border: 0;
    padding: 0;
}

.form fieldset:disabled {
    opacity: 0.5;
}

.form fieldset::before {
    height: 10px;
    content: '';
    display: block;
    background-image: linear-gradient(to right,
            var(--yellow) 0%,
            #fff 50%,
            var(--yellow) 100%);
}

@keyframes loading {
    from {
        background-position: 0 0;
        /* rotate: 0; */
    }

    to {
        background-position: 100% 100%;
        /* rotate: 360deg; */
    }
}

.form fieldset[aria-busy='true']::before {
    background-size: 50% auto;
    animation: loading 0.5s linear infinite;
}