.search__form {
    display: grid;
    grid-gap: 14px;
    grid-template-areas:
        "label label"
        "input button"
}

.search__label {
    grid-area: label;
    font-weight: 900;
    font-size: 1rem;
    text-transform: uppercase;
}

.input__area {
    grid-area: input;
    border-radius: 0;
    border: none;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
}

.button__area {
    grid-area: button;
    text-transform: uppercase;
}

.dropdown {
    position: absolute;
    top: 10rem;
    width: 20rem;
    z-index: 2;
    border: 1px solid var(--lightGrey);
    padding: 0;
    list-style: none;
}

.dropdown__item {
    border-bottom: 1px solid var(--lightGrey);
    background: var(--light);
    border-left: 10px solid var(--light);
    padding: 1rem;
    transition: all 0.2s;
    display: flex;
    align-items: center;
    border-left: 10px solid;
    cursor: pointer
}

li:hover:focus {
    background: var(--lightGrey);
    padding-left: 2rem;
    border-left: 10px solid var(--lightGrey)
}

.dropdown__item img {
    margin-right: 10px;
}